<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.ase.ro.grupa1086.licentamanolachemariacatalina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LicentaManolacheMariaCatalina"
        tools:replace="android:theme">
        <activity
            android:name=".admin.NewCategory"
            android:exported="false" />
        <activity
            android:name=".admin.AdminOrders"
            android:exported="false"
            android:label="@string/orders_list" />
        <activity
            android:name=".admin.NewRestaurantAccount"
            android:exported="false"
            android:label="@string/new_restaurant" />
        <activity
            android:name=".admin.RestaurantAccountsList"
            android:exported="false"
            android:label="@string/restaurants_list_title" />
        <activity
            android:name=".admin.NewDriverAccount"
            android:exported="false"
            android:label="@string/new_driver" />
        <activity
            android:name=".admin.DriverAccountsList"
            android:exported="false"
            android:label="@string/drivers_list" />
        <activity
            android:name=".AdminAccount"
            android:exported="false"
            android:label="@string/admin_account" />
        <activity
            android:name=".PersonalDriverOrders"
            android:exported="false"
            android:label="@string/personal_orders" />
        <activity
            android:name=".DriverLogIn"
            android:exported="false"
            android:label="@string/auth_driver" />
        <activity
            android:name=".AddRestaurantProduct"
            android:exported="false"
            android:label="@string/new_product" />
        <activity
            android:name=".ProductInfo"
            android:exported="false"
            android:label="@string/product" />
        <activity
            android:name=".RestaurantProducts"
            android:exported="false"
            android:label="@string/products" />
        <activity
            android:name=".order.RestaurantOrders"
            android:exported="false"
            android:label="@string/orders" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantLogin"
            android:exported="false"
            android:label="@string/authenticate" />
        <activity
            android:name=".principalmenus.RestaurantAccount"
            android:exported="false"
            android:label="@string/informations" />
        <activity
            android:name=".account.DriverAccount"
            android:exported="false"
            android:label="@string/account_details" />
        <activity
            android:name=".principalmenus.DriverMenu"
            android:exported="false"
            android:label="@string/main_page" />
        <activity
            android:name=".card.CardPayment"
            android:exported="false"
            android:label="@string/process_payment" />
        <activity
            android:name=".rating.CommentsList"
            android:exported="false"
            android:label="@string/comments" />
        <activity
            android:name=".food.CompleteFoodList"
            android:exported="false"
            android:label="@string/all_restaurants" />
        <activity
            android:name=".address.AddressPicking"
            android:exported="false"
            android:label="@string/enter_new_address" />
        <activity
            android:name=".account.AccountDetails"
            android:exported="false"
            android:label="@string/account_details" />
        <activity
            android:name=".address.AddressesList"
            android:exported="false"
            android:label="@string/my_addresses" />
        <activity
            android:name=".order.OrderDetails"
            android:exported="false"
            android:label="@string/order_details" />
        <activity
            android:name=".order.OrdersList"
            android:exported="false"
            android:label="@string/order_history" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCysjrCb9e2N5sNip39CegvBxQTgUCmphU" />

        <activity
            android:name=".order.ConfirmationOrder"
            android:exported="false"
            android:label="@string/title_activity_confirmation_order" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".account.PhoneNumberValidation"
            android:exported="false"
            android:label="@string/check_phone_number" />
        <activity
            android:name=".order.PlaceOrder"
            android:exported="false"
            android:label="@string/place_order" />
        <activity
            android:name=".account.Account"
            android:exported="false"
            android:label="@string/account" />
        <activity
            android:name=".order.ShoppingCart"
            android:exported="false"
            android:label="@string/cart" />
        <activity
            android:name=".food.FoodList"
            android:exported="false"
            android:label="@string/meniu" />
        <activity
            android:name=".RestaurantsList"
            android:exported="false"
            android:label="@string/restaurants_list_title" />
        <activity
            android:name=".food.FoodInfo"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.LicentaManolacheMariaCatalina.NoActionBar" />
        <activity
            android:name=".AddCategory"
            android:exported="false" />
        <activity
            android:name=".account.ResetPassword"
            android:exported="false"
            android:label="@string/reset_password" />
        <activity
            android:name=".principalmenus.PrincipalMenu"
            android:exported="false"
            android:label="@string/main_page" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".AddFood"
            android:exported="true" />
        <activity
            android:name=".account.SignUp"
            android:exported="true"
            android:label="@string/create_account" />
        <activity
            android:name=".account.SignIn"
            android:exported="true"
            android:label="@string/connect_to_account" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/deliver_it_right">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>